NODE_ENV=development
DEV_DATABASE_URL=postgres://root@127.0.0.1:5432/development
TEST_DATABASE_URL=postgres://root@127.0.0.1:5432/test
PORT=3001
DEV_SERVER_DISABLE_HOST_CHECK=0
REDIS_URL=redis://localhost:6379/0
USE_FAKE_DATA=true
enableDeveloperLogin=true
__TEST__=false