@import '../../styles/bourbon/_bourbon';
@import '../../styles/neat/neat';

$game-button-grid: (
  columns: 3,
  gutter: 20px,
  // media: 1200px,
  // color: rgba(#00d4ff, 0.25),
  // direction: ltr,
);

.guessing-game {
  margin: 300px auto;
  width: 600px;
}

.guessing-game-buttons {
  @include grid-container;
  margin-bottom: 3em;
}

.btn.guess {
  @include grid-column(1);
  padding: 2em;
  text-align: center;
}